---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí">
  <p style="margin-bottom: 1rem">
    Apasionado <strong>desarrollador de software</strong> con experiencia en algunos lenguajes de programación.
  </p>
  <p>
    Mi enfoque se ha centrado en el desarrollo de proyectos tanto en el <strong>Front-End</strong> como en el <strong>Back-End</strong>, colaborando en la creación de <strong>interfaces intuitivas y funcionales</strong>.
  </p>
</Section>
